.linea1__bloque1 {
    display: flex;
    justify-content: space-between;
}

.linea1__bloque2 {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 4fr;
}

.dosbloques {
    display: flex;
    justify-content: space-between;
}
